{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <h1>Create Post</h1>

    <form method="post">
        <p>
            <label>Title:</label><br>
            <input type="text" name="title" required>
        </p>

        <p>
            <label>Content:</label><br>
            <textarea name="content" required></textarea>
        </p>

        <button type="submit">Save</button>
    </form>

    <br>
    <a href="/posts">Back to list</a>
{% endblock %}